{{/* FOOTER */}}
<div class="row">
  <div class="columns small-12 medium-10 medium-offset-1">
    <footer>
    <p><a href="/">Site</a> is published by Author </p>
    </footer>
  </div>{{/* END COL */}}
</div>{{/* END ROW */}}
{{/* END FOOTER */}}

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/main.min.js"></script>

</body>
</html>
